@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(176, 213, 255),rgb(75, 158, 253));
}
.tela-login{
    background-image: linear-gradient(45deg, rgb(150, 150, 150), rgb(71, 71, 71));
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
}
.titulo{
    color: rgb(255, 255, 255);
    position: relative;
    font-family: "SUSE", sans-serif;
}
.email{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.senha{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
.login{
    background-color: rgb(60, 90, 255);
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.login:hover{
    background: rgb(63, 87, 138);
}